<div id="contRegis">
    <div class="cont_form" >
        <div  >
            <i class="fas fa-user" style="color: rgba(138, 2, 156, 0.13); 
            position:absolute; bottom:210px ; left: 550px ;font-size:200px ;transform: rotate(330deg);"></i>
            <i class="fas fa-mobile-alt" style="color: rgba(59, 5, 255, 0.062); 
            position:absolute; bottom:420px ; left: 840px ;font-size:100px ;transform: rotate(30deg);"></i>

            <div>
                <h2>Nuevo Contacto</h2>
            </div>
            <form action="/agregar/{{id}}" method="POST">
                <div class="cont_input">
                    <input type="text" name="nombre" placeholder="Nombre" class="inputLog">
                </div>
                <div class="cont_input">
                    <input type="text" name="numero" placeholder="Numero" class="inputLog">
                </div>
                 <div class="cont_input">
                    <input type="text" name="descripcion" placeholder="Descripcion" class="inputLog">
                </div>
                
                <div class="cont_input">
                    <button class="btn_log">Agregar</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div class="custom-shape-divider-top-1633614898">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
        <i class="fas fa-address-book" style="color: rgba(255, 255, 255, 0.671); position:absolute; bottom:350px ; left: 1200px"></i>
    </div> 