<div id="contenedor">
    <div id="cont_text">
        <h1>Contactos</h1>
        <div>
            <p>
               Almacena tus contactos de manera segura y ordenada 
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perferendis iste, quod minima quae expedita? Nemo vero et hic quae modi deserunt laudantium quos quia nobis culpa maiores, ea velit?
            </p>
        </div>
    </div>
    <div class="cont_form" >
        <div >
            <form action="/signIn" method="POST">
                
                <div class="cont_input">
                    <input type="text" name="usuario" placeholder="Usuario" class="inputLog">
                </div>
                 <div class="cont_input">
                    <input type="password" name="contraseña" placeholder="Contraseña" class="inputLog">
                </div>
                <div class="cont_input">
                    <button class="btn_log">Iniciar Sesión</button>
                </div>
                <hr /> 
                <div id="register">
                    <p>¿Aun no tienes cuenta? <a href="/signup">Registrarse</a></p>
                    
                </div>
            </form>
        </div>
    </div>
</div>

<div class="custom-shape-divider-top-1633614898">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
        <i class="fas fa-address-book" style="color: rgba(255, 255, 255, 0.671); position:absolute; bottom:350px ; left: 1200px"></i>
    </div> 